*{
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom:0;
}


.searchicon{
  color:white;
}
.searchicon:hover{
  font-size: 20px;
}

.abc{
   background: #0575E6;  /*fallback for old browsers */ 
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6);

}
.navbar{
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6);
}
.navbar-toggler{
  background-color: white;
}

.navcolor{
  color:white;
}

.nav-link:hover{
  color:grey;
}

.resize{
  max-width:100%;
  height:auto;
}

.tagline{
  float:right;
  width:50%;
  height:100%;
}
.taglineText{
  text-align:center;
  margin-top:10%;
  padding:0 20% 0 20%;
  font-size: 5vw;
  
}

.tagline_div{
  height:50vh;
  overflow:hidden;
}
 
@media screen and (max-width: 760px) {
  .resize{
    visibility: hidden;
  }
  .tagline{
    float:center;
    width:100%;
  }
  .taglineText
  {
    font-size:3rem;
  }
  .tagline_div{
    height: 80vh;
    margin-top:20%;
  }
  .resizeimg{
    width:120px;
    height:120px;
  }
}