.audio-controls{
    width:100%;
    display: flex;
    margin-top:48px;

}

.progressb{
    margin:auto;
    display: flex; 
    width:100%;   
    color:white;   
}
.currentT{
    margin-right:20px;
}
.totalT{
    margin-left:20px;
}


.title_div{
    width:200px;
    clear:right;
    color:white;
}
.vlme{
    width:180px;
    margin-left:auto;
}

.controls_div{
    margin-right:200px;
    margin:auto;
    width:200px;
    text-align:center;
    color:white;
}

.outer-control{
    margin:auto;
    width:50%; 
    margin-top: -10px;
}

.prev,.play,.next{
    cursor:pointer;
}
.prev:hover{
    color:grey;
}
.play:hover{
    color:grey;
}
.next:hover{
    color:grey;
}
.change-color{
    color:white;
}
.range {
    height: 8px;
    -webkit-appearance: none;
    background: rgba(17, 17, 17, 0.555);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.507);
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:white;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px white;
  }