.Playlist_div{
  height:auto;
}
.header_div{
  width:100%;
  height:250px;
  display: flex;
  
}
.image_div{
  width:400px;
}
.artist_img{
  height:250px;
  width:300px;
  margin-left:50px;
}
.name-div{
  color:white;
}
.name-div h1{
  margin-top:100px;
  font-size:60px;
}
.list_div{
  color:white;
}
.style_table{
  width:90%;
  margin:auto;
}
.style_table tr{
  text-align:center;
  border-bottom: 2px solid white;
}
.style_table td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.style_table thead{
  text-align: center;
  font-size: 20px ;
}

.style_table tr:nth-child(even){background-color: #f2f2f217;}
.style_table tr:hover {background-color: rgba(7, 7, 7, 0.301);}

@media screen and (max-width: 760px){
  .hide{
    display: none;
  }
  .header_div{
    height:220px;
    
  }
  .image_div{
    width:270px;
  }
  .artist_img{
    height:200px;
    width:250px;
    margin-left:10px;
  }
  .name-div h1{
    margin-top:100px;
    font-size:40px;
  }
}

@media screen and (max-width: 500px){
  .image_div{
    width:180px;
  }
  .header_div{
    height:170px;
    
  }
  .artist_img{
    height:150px;
    width:150px;
    margin-left:10px;
  }
  .name-div h1{
    margin-top:20px;
    font-size:30px ;
  }
}




















/* .artist_img{
    position: absolute;
    top:0;
    left:0;
    width:200px;
    height:28vh;
}
.header_div{
    height:28vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
  -webkit-filter: blur(0px);
} */